# Allow ConfigPanel to work
allow system_app sysfs_sectouch:dir search;
allow system_app sysfs_sectouch:file rw_file_perms;

# FPS tile
allow system_app sysfs:file { getattr };

# allow system apps to read battery status
r_dir_file(system_app, sysfs_battery_supply)
